* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html{
    height:  100vh;
    font-size: 14px;

  }
  
  body {
    background: linear-gradient(0,#1e1f1f, #8191be)  ;
    font: 400 1rem 'Roboto', sans-serif;
    height: 100%;
  }

  .container{
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #fff ;

  }
   a{
    text-decoration: none;
    color:#fff
   }

.degrade{
    background: linear-gradient(to right, #044278, #a9d1d5);
}

  
  header{
    text-align: center;
    margin-bottom: 40px;
  }

  header img{
    max-width: 200px;
    margin-bottom: 2%;
  }
   header h1{
    font-size: 2em;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 300;
   }

   section.botoes-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
   }

   a.link button{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: .2s;
    box-shadow: 5px 8px rgba(0, 0, 0, 0.489);
    

   }

  a.link i{
    font-size: 1.5em;
  }
  a.link button:hover{
    transform: scale(1.05);
  }



footer{
    text-align: center;
    margin: 30px;
}

footer a.btn-footer{
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 2em;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 10px;
    transition: .2s;
}

